<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/buy.css"> 
    <title>buy</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet"   href="../stylesheets/comp.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    


    <body> 

        <!-- NAVBAR-->

<nav class="navbar-fixed-top" >
    <input id="nav-toggle" type="checkbox">
    <div class="logo"><a href="/">EverGreen Educado</a></div>
    <ul class="navlinks">
        <li> <a href="/"> HOME </a> </li>
        <li> <a href="/#books-locate"> BOOKS </a> </li>
        <li> <a href="#"> FUN </a> </li>
        <li> <a href="/about-us"> ABOUT </a> </li>
        <li> <a href="/contact-us"> CONTACT </a> </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>

        <br>
        <br>
        <br>
        <br>
        <br>
		<div class="xyz">
         <div class="buy-img"><img  src="<%=book.cover%>" alt="image"></div>
         <div class="buy-container">
         <h1 class="sub-heading"><%=book.sectionName%></h1>
         <h3 class="book-heading"><%=book.name%></h3>
         <h2 class="book-author">By <%=book.author%></h2>
         <h3 class="book-price">Rs. <%=book.price%></h3>
        <p class="stock-status">Seller : amazon </p>
        <br> 
        <a href="<%=book.buyLink%>"><button id="but-1">Buy Now</button>    </a>    
              
       <!-- yahaan pr product info ka code aayegya space chod dena uske liye  -->
           
         <p class="product-info"> Product Info  <span class="plus"> + </span>
            <br>
        <span class="more-info"><%=book.desc%></span> </p> 
            

		</div>
        </div>
	    
        

		
		
            <!-- <div class="container">
                <div class="veiw-box">
                    <div id="testimonials">
                        
                        <div class="user">
                           
                            <p>Many people feel that there is a limited amount of abundance, wealth, or chance to succeed in life. Furthermore, there is a solid beleif that if one person succeeds, another must fail.</p>
                            <h3>Riley Olie</h3>
                        </div>
                        
                        <div class="user space">
                            
                            <p>Many people feel that there is a limited amount of abundance, wealth, or chance to succeed in life. Furthermore, there is a solid beleif that if one person succeeds, another must fail.</p>
                            <h3>Steve McCurry</h3>
                        </div>
                        
                        <div class="user">
                            
                            <p>Many people feel that there is a limited amount of abundance, wealth, or chance to succeed in life. Furthermore, there is a solid beleif that if one person succeeds, another must fail.</p>
                            <h3>Merlin Nguyen</h3>
                        </div>
                        
                        
                    </div>
                    
                    <div class="controls">
                        <span id="control1" ></span>
                        <span id="control2" class="active"></span>
                        <span id="control3"></span>
                    </div>
                    
                </div>
            </div> -->

            <!-- 
#### EDIT
I built this slider when I first started to learn JS, you can rebuild it with more readable, simple and less code, I'm too lazy to update it, sorry :) 
-->

<!-- 
	use the left and right arrow keys on your keyboard or just swipe left and right on your smart phone to interact with the slider
-->

<section id="testim" class="testim">
    <!--         <div class="testim-cover"> -->
                <div class="wrap">
    
                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    
                    
                    <div id="testim-content" class="cont">
                        
                        <% book.comments.forEach(function(comment){ %>
                            <div class="active">
                                <div class="img"><img src="" alt=""></div>
                                <h2><%=comment.author%></h2>
                                <p><%=comment.text%></p>                    
                            </div> 
                        <% }) %>
                        <!-- <div class="active">
                            <div class="img"><img src="" alt=""></div>
                            <h2>Lorem P. Ipsum</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>                    
                        </div> -->
    
                        
    
                    </div>
    
                </div>
    <!--         </div> -->
        </section>
    
    <script src="https://use.fontawesome.com/1744f3f671.js"></script>
    

    <script src="../js/app.js"> </script> 
        <script src="../js/buy.js"> </script>
        </body>
        </html>