<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="../stylesheets/buy.css">
=======
    <link rel="stylesheet" type="text/css" href="../stylesheets/buy.css"> 
>>>>>>> 9db408bf171561e5dfcb48848e7900fa35d2e2a9
    <title>buy</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <body> 
        <br>
        <br>
        <br>
		<div class="abv">
         <div class="buy-img"><img  src="<%=book.cover%>" alt="image"></div>
         <div class="buy-container">
         <h1 class="sub-heading"><%=book.sectionName%></h1>
         <h3 class="book-heading"><%=book.name%></h3>
         <h2 class="book-author">By <%=book.author%></h2>
         <h3 class="book-price">Rs. <%=book.price%></h3>
        <p class="stock-status">Seller : amazon </p>
        <br> 
        <a href="<%=book.buyLink%>"><button id="but-1">Buy Now</button>    </a>    
              
       <!-- yahaan pr product info ka code aayegya space chod dena uske liye  -->
           
         <p class="product-info"> Product Info  <span class="plus"> + </span>
            <br>
        <span class="more-info"><%=book.desc%></span> </p> 
            
        
        </div>
		</div>
		
		
		<div class="rbs">
		<p>I amajnfoanoanojaphigang</p>
		</div>
        <script src="../js/buy.js"> </script>
        </body>
        </html>