<%- include("../../partials/header") %>

   <div class="electrical-animation-1">
       <div class="electrical-animation-1-item">
           <img src="../images/SL3.jpg">
           <div class="electrical-animation-1-item-text">
               <h5>Quiz</h5>
               <a href="#">
                <p> Wanna do some questions.</p>  
               </a>
            </div>  
       </div>

       
        <div class="electrical-animation-1-item">
            <img src="../images/SL2.jpg">
            <div class="electrical-animation-1-item-text">
                <h5>Quiz</h5>
                <a href="#">
                 <p> Wanna do some questions.</p>  
                </a>
             </div>  
        </div>

        
            <div class="electrical-animation-1-item">
                <img src="../images/SL1.png">
                <div class="electrical-animation-1-item-text">
                    <h5>Quiz</h5>
                    <a href="#">
                     <p> Wanna do some questions.</p>  
                    </a>
                 </div>  
            </div>     
   </div>


   <section class="electrical-bookheading">
    <h1>ELECTRICAL</h1>
  </section>

  <section class="electrical-subjects">
    <h3> ELECTRICAL CIRCUIT </h3>
  </section>

 <div class="electrical-bookbox">
   <% book.forEach(function(book){ if(book.bookId === 'ELECEC'){ %>
		<div class="electrical-boxes">
			<a href="/gate-electrical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>
    </div>

 <section class="electrical-subjects">
    <h3>POWER ELECTRONICS</h3>
  </section>

  <div class="electrical-bookbox">
   <% book.forEach(function(book){ if(book.bookId === 'ELECPE'){ %>
		<div class="electrical-boxes">
			<a href="/gate-electrical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>
    </div>

 <section class="electrical-subjects">
    <h3>POWER SYSTEM</h3>
 </section>

 <div class="electrical-bookbox">
    <% book.forEach(function(book){ if(book.bookId === 'ELECPS'){ %>
		<div class="electrical-boxes">
			<a href="/gate-electrical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>
    </div>
	
	<section class="electrical-subjects">
    <h3>SIGNALS AND SYSTEMS</h3>
 </section>

 <div class="electrical-bookbox">
     <% book.forEach(function(book){ if(book.bookId === 'ELECSAS'){ %>
		<div class="electrical-boxes">
			<a href="/gate-electrical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>
    </div>
	
	<section class="electrical-subjects">
    <h3>MATHS</h3>
 </section>

 <div class="electrical-bookbox">
    <% book.forEach(function(book){ if(book.bookId === 'ELECM'){ %>
		<div class="electrical-boxes">
			<a href="/gate-electrical/<%= book._id %>">
				<img src="<%=book.cover%>" alt="" width="225px" height="195px">
			</a>
	    </div>
	<% }}) %>
    </div>

<%- include("../../partials/footer") %>